* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: hsl(200, 10%, 30%);
  background-color: hsl(200, 15%, 95%);
  font-family: system-ui, serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
